@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200&display=swap');

body{
  min-height: 200px;
  padding-top: 50px;
  font-family: 'JetBrains Mono', monospace;
}

footer {
  background-color: #0a4275;
}

.copyright-text {
  background-color: rgba(0, 0, 0, 0.2);
}
