{% extends 'layout.html' %}

{% block title %}Blog{% endblock %}

{% block body %}
<div class="container mt-5 mb-5">
  <div class="row">
    <h2>
      {{ blog.title }}
    </h2>
  </div>
  <div class="row">
    <p>Author: {{ blog.creator }} | Views: {{ blog.views }} | Updated: {{ blog.published_on|timesince }} ago</p>
  </div>
  <div class="row mb-3">
    {% for category in blog.categories.all %}
    {% if category.is_active %}
    <div class="col">
      <span class="badge text-bg-primary" style="display:inline;">{{ category.category }}</span>
    </div>
    {% endif %}
    {% endfor %}
  </div>
  <div class="row">
    <div class="ratio ratio-16x9">
      <img src="{{ blog.thumbnail.url }}" class="img-fluid rounded mx-auto d-block" alt="blog's thumbnail">
    </div>
    <p>
      {{ blog.content|safe }}
    </p>
  </div>

  <br><br><hr>
  
  <div class="row mb-3">
    <h1>Comments ({{ comments.count }})</h1>
  </div>
  <div class="row">
    <form action="{% url 'blogs:create_comment' %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="id" value="{{ blog.id }}">
      <div class="mb-3">
        <label for="comment" class="form-label">Comment:</label>
        <textarea class="form-control" id="comment" rows="3" name="comment" placeholder="Type comment"></textarea>
      </div>
      {% if request.user.is_authenticated %}
      <button type="submit" class="float-end btn btn-primary">Submit</button>
      {% else %}
      <a href="{% url 'accounts:login' %}" class="btn btn-primary float-end">Login</a>
      {% endif %}
    </form>
  </div>
  <br><hr><br>
  {% for comment in comments %}
  <div class="row">
    <b>@{{ comment.creator.username }}<b>
    <span class="badge text-bg-primary">{{ comment.published_on }}</span>
    <p>{{ comment.comment }}</p>
    <a class="text-decoration-none" data-bs-toggle="collapse" href="#reply{{comment.id}}" role="button" aria-expanded="false" aria-controls="reply{{comment.id}}">
      Reply
    </a>
    <div class="collapse" id="reply{{comment.id}}">
      {% for reply in comments.replies %}
      <div class="card card-body">
        <b>@{{ reply.creator.username }}<b>
        <span class="badge text-bg-primary">{{ reply.published_on }}</span>
        <p>{{ reply.reply }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
  <hr>
  {% endfor %}
</div>
{% endblock %}
