{% extends 'layout.html' %}

{% block title %}Blog{% endblock %}

{% block body %}
<div class="container mt-5 mb-5">
  <div class="row">
    <h2>
      {{ blog.title }}
    </h2>
  </div>
  <div class="row">
    <p>Author: {{ blog.creator }} | Views: {{ blog.views }} | Updated: {{ blog.published_on|timesince }} ago</p>
  </div>
  <div class="row mb-3">
    {% for category in blog.categories.all %}
    {% if category.is_active %}
    <div class="col">
      <span class="badge text-bg-primary" style="display:inline;">{{ category.category }}</span>
    </div>
    {% endif %}
    {% endfor %}
  </div>
  <div class="row">
    <div class="ratio ratio-16x9">
      <img src="{{ blog.thumbnail.url }}" class="img-fluid rounded mx-auto d-block" alt="blog's thumbnail">
    </div>
    <p>
      {{ blog.content|safe }}
    </p>
  </div>

  <br><br><hr>
  
  <div class="row mb-3">
    <h1>Comments ({{ comments.count }})</h1>
  </div>
  {% for comment in comments %}
  <div class="row mb-2">
    <b>@{{ comment.creator.username }}<b>
    <span class="badge text-bg-primary">{{ comment.published_on }}</span>
    <p>{{ comment.comment }}</p>
    <a class="text-decoration-none" data-bs-toggle="collapse" href="#reply{{comment.id}}" role="button" aria-expanded="false" aria-controls="reply{{comment.id}}">
      Reply
    </a>
    <div class="collapse" id="reply{{comment.id}}">
      <div class="card card-body">
        Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
