{% extends 'layout.html' %}

{% block title %}Index{% endblock %}

{% block body %}
<div class="container mt-5 mb-5">
  <div class="row mb-1">
    <div class="col-6">
      <h2>Recent Posts</h2>
    </div>
    <div class="col-6">
      <a class="btn btn-primary float-end" href="{% url 'latest' %}" role="button">
        <i class="bi bi-list-check"></i>
        View All
      </a>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for blog in latest %}
      {% include 'card.html' with blog=blog %}
    {% endfor %}
  </div>

  <br><hr>

  <div class="row mb-1">
    <div class="col-6">
      <h2>Popular Posts</h2>
    </div>
    <div class="col-6">
      <a class="btn btn-primary float-end" href="{% url 'popular' %}" role="button">
        <i class="bi bi-list-check"></i>
        View All
      </a>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for blog in popular %}
      {% include 'card.html' with blog=blog %}
    {% endfor %}
  </div>
</div>
{% endblock %}
