<!doctype html>
<html lang="en" data-bs-theme="dark">
<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="{% block ogtitle %}DJCMS: Content Management System{% endblock %}">
  <meta property="og:image" itemprop="image" content="{{ SITE_URL }}{% block ogimage %}{% static 'img/og.png' %}{% endblock %}">
  <meta property="og:description" content="{% block ogdescription %}A Blog Management Site aims to view/create/edit/delete blogs.{% endblock %}">
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link href="{% static 'css/index.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  <title>{% block title %}{% endblock %} | djcms</title>
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <div class="container">
    <a class="navbar-brand" href="{% url 'index' %}">
      <img src="{% static 'img/logo.png' %}" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
      djcms
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'latest' %}">
            <i class="bi bi-stars"></i>
            Latest
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'popular' %}">
            <i class="bi bi-graph-up-arrow"></i>
            Popular
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'trendings' %}">
            <i class="bi bi-fire"></i>
            Trendings
          </a>
        </li>
        <form class="d-flex" role="search" action="{% url 'search' %}" method="get">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="query">
          <button class="btn btn-success" type="submit">
            <i class="bi bi-search"></i>
          </button>
        </form>
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'bookmark' %}">
            <i class="bi bi-bookmarks"></i>
            Bookmarks
          </a>
        </li>
        {% if request.user.is_author %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-sliders"></i>
            Manage
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="{% url 'manage:blog' %}">
                <i class="bi bi-book"></i>
                Blogs
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'manage:category' %}">
                <i class="bi bi-grid"></i>
                Category
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'manage:comment' %}">
                <i class="bi bi-chat-left-text"></i>
                Comment
              </a>
            </li>
          </ul>
        </li>
        {% endif %}
      </ul>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'accounts:logout' %}">
            <i class="bi bi-box-arrow-right"></i>
            Logout
          </a>
        </li>
      </ul>
      {% else %}
      </ul>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'accounts:login' %}">
            <i class="bi bi-box-arrow-in-right"></i>
              Login
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'accounts:register' %}">
              <i class="bi bi-person-add"></i>
            Register
          </a>
        </li>
      </ul>
      {% endif %}
    </div>
  </div>
</nav>

<!-- Messages -->
<div class="container mt-3" id="msg-box">
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    <strong>{{ message.tags|upper }}</strong> {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  {% endif %}
</div>

{% block body %}{% endblock %}

  
<br><br><br><br><br><br>
<!-- Footer -->
<section>
  <footer class="text-center text-white">
    {% if request.user.is_anonymous %}
    <div class="container p-4 pb-0">
      <section class="">
        <p class="d-flex justify-content-center align-items-center">
          <span class="me-3">Register for free</span>
          <a class="btn btn-outline-light btn-rounded" href="{% url 'accounts:register' %}" role="button">Register</a>
        </p>
      </section>
    </div>
    {% endif %}
    <div class="text-center p-3 copyright-text">
      © 2023 Copyright:
      <a class="text-white" href="/">djcms</a>
    </div>
  </footer>
</section>

<!-- Javascripts -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
</body>
</html>
