<!doctype html>
<html lang="en" data-bs-theme="dark">
<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
  <link href="{% static 'css/index.css' %}" rel="stylesheet">
  <link href="{% static 'bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <title>{% block title %}{% endblock %} | djcms</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <div class="container">
    <a class="navbar-brand" href="{% url 'index' %}">
      <img src="{% static 'img/logo.png' %}" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
      djcms
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'latest' %}">Latest</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'popular' %}">Popular</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'trendings' %}">Trendings</a>
        </li>
        {% if request.user.is_authenticated %}
        {% if request.user.is_author %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Manage
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'manage:blog' %}">Blogs</a></li>
            <li><a class="dropdown-item" href="{% url 'manage:category' %}">Category</a></li>
          </ul>
        </li>
        <form class="d-flex" role="search" action="{% url 'search' %}" method="get">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="query">
          <button class="btn btn-success" type="submit">Search</button>
        </form>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'accounts:logout' %}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'accounts:login' %}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'accounts:register' %}">Register</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

  <div class="container mt-3" id="msg-box">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
      <strong>{{ message.tags|upper }}</strong> {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
  </div>

  {% block body %}{% endblock %}
  <br><br><br><br><br><br>
  <section>
    <footer class="text-center text-white">
      <div class="container p-4 pb-0">
        <section class="">
          <p class="d-flex justify-content-center align-items-center">
            <span class="me-3">Register for free</span>
            <a class="btn btn-outline-light btn-rounded" href="{% url 'accounts:register' %}" role="button">Register</a>
          </p>
        </section>
      </div>
      <div class="text-center p-3 copyright-text">
        © 2023 Copyright:
        <a class="text-white" href="/">djcms</a>
      </div>
    </footer>
  </section>
  <script src="{% static 'js/popper.js' %}"></script>
  <script src="{% static 'js/bootstrap.js' %}"></script>
</body>
</html>
